@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,500;8..144,600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}
p {
  margin: 5px 0;
  display: block;
}
h3{
  margin-top: 10px;
  display: inline-block;
}
h1{
  margin: 0;
  font-size: 2.4rem;
}
ul {
  padding-left: 20px;
}

.section {
  width: 100%;
  /* background: rosybrown; */
  column-gap: 20px;
  display: flex;
  margin: 20px 0;
}
.heading {
  /* background: rebeccapurple; */
  width: 20%;
  padding: 0 10px;
  margin-left: 30px;
}
.content {
  padding: 0 20px;
  width: 80%;
  /* flex-grow: 3; */
  /* background-color: rgb(65, 89, 89); */
}
.information {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}
.information section ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
}
.information section ul li{
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.city {
  color: rgb(171, 171, 171);
  text-transform: capitalize;
}
@media only screen and (max-width: 570px){
  h3 {
      margin: 0;
      display: block;
    }
  .section {
    flex-direction: column;
    column-gap: 0;
    box-sizing: border-box;
  }
  .heading {
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    color: rgb(171, 171, 171);
  }
  .content {
    box-sizing: border-box;
    width: 100%;
  }
  .content p {
    text-align: justify;
  }
  .information {
    flex-direction: column-reverse;
  }
  section ul {
    margin-top: 0;
    margin-bottom: 0;
  }
    section ul:first-child {
      margin-top: 5px;
    }
}